.InputBox{
  position: relative;
  input{
    width: 318px;
    height: 32px;
    border-bottom: 1px solid #000000;
    font-size: 13px;
    &::placeholder{
      color: #ABABAB;
    }
  }
  img{
    width: 21px;
    height: 21px;
    position: absolute;
    right: 3px;
  }
}