.Map{
  width: 100%;
  height: 92%;
  position: relative;
  .map-box{
    width: 100%;
    height: 100%;
  }
  .alert{
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 1000;
    &.top{
      top: 0;
    }
    &.bottom{
      bottom: 0;
    }
    &.red {
      background: rgba(255, 4, 4, 0.3);
    }
    &.yellow{
      background: rgba(255, 235, 0, 0.3);
    }
  }
}